/**
 * Legacy IE browser styles
 */

// Disable media queries
@import 'breakpoint-sass/stylesheets/breakpoint';
@include breakpoint-set('no queries', true);

// Add stylesheets + @media content
@import 'critical';
@import 'main';

// Hard code widths
body {
	min-width: 1024px;
}
