
<div class="example wrapper">
	<h1 class="headline headline--section">/core</h1>
	<p><a href="https://github.com/colinrotherham/core/">@colinrotherham/core</a></p>
	<p>Critical content styled via <strong>inline CSS</strong></p>
</div>
