/**
 * Font mixins
 */

$font-size-base: 16px !default;
$line-height-base: 19.2px !default;

@function em($size, $context: $font-size-base) {
	@return ($size/$font-size-base) * ($font-size-base / $context) * 1em;
}

@mixin font-size($size, $line-height, $context: $font-size-base) {
	font-size: em($size, $context);
}

@mixin line-height($size, $line-height) {
	line-height: ($line-height/$size) * 1em;
}

@mixin letter-spacing($size, $letter-spacing) {
	letter-spacing: ($letter-spacing / 1000) * 1em;
}

// Photoshop helper mixin
@mixin font-attributes($size, $line-height, $letter-spacing: 0, $context: $font-size-base) {
	@include font-size($size, $line-height, $context);
	@include line-height($size, $line-height);
	@include letter-spacing($size, $letter-spacing);
}
