/**
 * Core styles
 */

// Clearfix
.group:after {
	content: '';
	display: table;
	clear: both;
}

html, body, button, input, select, textarea {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

html {
	height: 100%;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	text-size-adjust: 100%;
}

blockquote {
	margin: 0;
}

p {
	margin: 0;
	line-height: 1.5;

	+ p {
		margin-top: 0.5em;
	}
}

a {
	font-weight: bold;
	color: map-get($colours, 'link');
}

*, *:before, *:after {
	box-sizing: inherit;
}
