---
layout: default
title: Home page
description: This is the meta description
name: home
---

		<!-- Main content -->
		<main class="container group" role="main">

			{{>example}}

		</main>

		{{>footer}}
